 .col-sm-3 img {
     height: 140px;
     width: 120px;
     top: 0;
     right: 0;
 }

 .col-sm-8 {
     display: inline-block;
 }

 .row-custom {
     position: relative;
     top: -60px;
     padding: 0px;
 }