 .col-sm-3 img {
     height: 140px;
     width: 120px;
     top: 0;
     right: 0;
 }

 .col-sm-8 {
     display: inline-block;
 }

 .row-custom {
     position: relative;
     top: -60px;
     padding: 0px;
 }

 .flex-container {
     width: 100%;
     display: flex;
     align-items: stretch;
 }

 .right {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     align-self: flex-end;
     margin-left: auto;
     margin-right: 10%;
 }