<aside>
    <app-sidebar></app-sidebar>
</aside>
<div class="main">
    <div class="col-sm-12">
        <div class="well">
            <h5>MLM Office Access</h5>
            <p>Welcome, {{username}}</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h5>Total Students MLMIC </h5>
                    <p>{{hindiMediumTotal}}</p>
                    <p>{{presentHindiMediumStudents}}</p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <h5>Present Today</h5>
                    <p>30 <span>Count</span></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <h5>Fees Collection</h5>
                    <p>0 issue</p>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="well">
                    <h5>Total Students MLMEC </h5>
                    <p>{{englishMediumTotal}}</p>
                    <p>{{presentEnglishMediumStudents}}</p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <h5>Present Today</h5>
                    <p>30 <span>Count</span></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <h5>Fees Collection</h5>
                    <p>0 issue</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <h5>Teacher's </h5>
                    <p>40</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well"> 
                    <h5>Present</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h5>Today's Summary</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <h5>RFID Attendence</h5>
                    <p>1789 Present</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h5>General Report</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h5>Today's Summary</h5>
                </div>
            </div>
        </div>
    </div>
</div>