<app-carousel></app-carousel>
<div class="container">

</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoIIaNriBvF55wDK1JDnzrw9jUeq5A85LPfV2cbTW1uvdhTG3G"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7_ZHByOvX8NklVdmaqONgUHvhcUGgHRfKcVgwWCmrJNCCF_6o"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtain2WpAnWqwBuOvkRghfKijDeJcjDmD4r1fhUT_8dty3GBxA"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzVechFXFvc3PFdYaXX55Tz9_A_Sq5LX1g12VD0V6bC3K9ux5i"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>